html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: inherit; }

/*font-family: 'Caveat Brush', cursive;
rgb(231, 203, 231)*/


body{
    font-family: 'Caveat Brush', cursive;
    font-size:20px;
}

@media (min-width:720px){
    body{
        font-size:30px;
    }
}
.text{
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px;
}
.card-text{
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
}
.card-title{
    margin-bottom:1.5rem;
}
.navbar{
    position: sticky;
    top:0;
    z-index:10;
}


.nav-link{
    padding:0.5rem;
    text-align: center;
}
/*rgb(243, 187, 124)*/
.nav-link:hover{
    background-color:rgb(241, 193, 137);
    border-radius: 10px;
}
.dropdown-item{
    padding:0.5rem;
    text-align: center;
}
.dropdown-item:hover{
    background-color:rgb(145, 206, 145);
    border-radius: 10px;
}
footer{
    background-color:beige;
    padding:2rem;
}
.site{
    width:50px;
    height:auto;
    transition-property: transform;
    transition-duration: 0.5s;
}
.site:hover{
    transform: translateY(-5px);
}



/*kontakt*/
.profil{
    width:200px;
    height:auto;
    border-radius: 50%;
}


/*mazeme*/
.dlazdice{
    margin:0.1rem;
    padding:0;
    transition-property: transform;
    transition-duration: 0.5s;
}
.dlazdice:hover{
    transform: scale(1.2,1.2);
    z-index:10;
}
.mazeme{
    margin-bottom:4rem;
}


/*balzamy*/
.odkaz{
    color:black;
    border: solid 1px lightgrey;
    padding:0.2rem 1rem;
    font-size:18px;
}
.odkaz:hover{
    text-decoration: underline;
    color:black;
}
.zpet{
    margin-top:2rem;
    margin-bottom:1rem;
    display:flex;
    justify-content: flex-start;
}

.card-img-top{
   margin-top:1rem;
    max-width:200px;
    align-self: center;
}
.card-text{
    font-size:18px;
}

/*fotky*/
.foto{
    margin-bottom:0.5rem;
}

/*terminy*/
.ruze{
    width:50px;
    height:auto;
    
}
.media{
    
    padding:0.5rem;
}
.media-body{
    margin-left:0.5rem;
}
.info{
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px;
    font-weight: 600;
}
.info:hover{
    text-decoration: underline;
    color:black;
}